
/* counter.js*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 20px 0;
    box-shadow: -1px -1px 12px 1px rgba(34, 31, 31, 0.77);
  }
  .count {
    font-size: 48px;
    text-align: center;
    padding-top: 20px;
    margin-top: 0px;
    color: #f44336;
  }